<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About Us</ion-title>
    </ion-toolbar>
  </ion-header>

  <div text-center>
    <ion-img src="assets/aboutus.gif"></ion-img>  
  </div>

  <ion-list>
    <ion-list-header>
      Kelompok 10
    </ion-list-header>
    <ion-item>
      <ion-label>
        <p>Agung Maulana (00000018159)</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Andrew Sergio (000000)</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Ryan Ginting (000000)</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Sarah (000000)</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
