<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About Us</ion-title>
    </ion-toolbar>
  </ion-header>

  <div text-center>
    <ion-img src="assets/aboutus.gif"></ion-img>  
  </div>

  <ion-label>
    Kelompok 10:
    <p>
      Agung Maulana (00000018159)
      Andrew Sergio (000000)
      Ryan Ginting (000000)
      Sarah (000000)
    </p>
  </ion-label>

</ion-content>
