<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">
      Posts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      
      <ion-title color="light" size="Large">Posts</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="posts; else loading">
    <ion-card *ngFor="let post of posts">
      <img src="{{ post.image }}" />
      <ion-card-header>
        <ion-card-subtitle>{{ post.publishDate | date: 'medium' }}</ion-card-subtitle>
        <ion-card-title><a href="{{post.link}}"> {{post.link}}</a></ion-card-title>
      </ion-card-header>
      <div class="ion-text-justify">&nbsp;&nbsp;{{ post.text }}</div><br><br>

      <!-- function untuk tags di post profile -->
      <div *ngFor="let tag of post.tags"> 
        &nbsp; <ion-badge button color="light" [routerLink]="['/tabs', 'tab5', tag]"> 
          {{ tag }}
        </ion-badge>
      </div>

      <!-- pemanggilan function comment -->
      <ion-card-content>
        <ion-icon name="heart" color="danger"></ion-icon>{{ post.likes }}
        <!-- untuk icon comment -->
        &nbsp;&nbsp;  <ion-icon button name="mail-open" color="primary" (click)="getPostCommentList(post.id)"></ion-icon><br/>
        Posted by: {{ post.owner.firstName }} {{ post.owner.lastName }}
      </ion-card-content>
    </ion-card>
  </div>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
  <ng-template #loading>
   <ion-spinner name="crescent"></ion-spinner>
  </ng-template>
</ion-content>
